body{
    font-family: "Arsenal SC", sans-serif;
    
    padding-top: 10px;
 
    
}

.container{
    
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#d16500;
    /* border-radius: 50% 50% 24% 24% / 46% 46% 0% 0%; */
}
.container p{
    color:#5c2b00;
    letter-spacing:2PX;
    font-weight:lighter;
}
.container ul{
    list-style: none;
    padding: 0px;
}
.container p a{
    color:#a01b00;

}
