
body{
    font-family: "Arsenal SC", sans-serif;
    
    background: linear-gradient(#ffd8bd 100%, #db640362 50%);
    padding-top: 10px;
    padding-bottom: 20px;
    
}
::-webkit-scrollbar {
display: none;
    

  }


.project-container {
       
            background: rgba(255, 255, 255, 0.36);
        /* border-radius: 16px; */
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5.4px);
            -webkit-backdrop-filter: blur(5.4px);
            border: 1px solid rgba(255, 255, 255, 0.17); 
            max-width: 1000px;
            margin: 0 auto;
            padding: 5px;
            /* background-color: #364a555b; */
            border-radius: 8px;
            box-shadow: 9px 11px 6px 0px rgba(0,0,0,0.1);
        }
        .project-container h4 {
            /* text-decoration: underline; text-underline-offset: 5px;  */
            text-align: center;
            color: #913a00;
           
        }
        p {
            
            color: #28303d;
        }

    .project-container:hover {
        box-shadow: inset 0px 0px 0px 0px;     
        cursor: pointer;  
        background: rgba(255, 255, 255, 0.493);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.4px);
        -webkit-backdrop-filter: blur(5.4px);

    }  


  .project-container a{
    text-decoration: none;
    background-color: #ff73227e;
    color: rgb(121, 64, 0);
 }
   .project-container a:hover{
    text-decoration: none;
    background-color: #ffc04be5;
    color: rgb(37, 21, 2);
 }